    .timer-box {
        font-family: 'Roboto', sans-serif;
        font-size: calc(16px + (8/1200) * 100 * 1vw);
        font-weight: 600;
        text-align: center margin-top: -90px !important;
        margin-bottom: 50px;
        color: #ccc;
    }
    /* .timer-box2 { color: #000; font-family: 'Roboto', sans-serif; font-size: calc(16px + (8/1200) * 100 * 1vw); font-weight: 600; text-align: center margin-top:; padding: 0 !important; }*/
    
    .timer-box3 {
        color: #B7BABC;
        font-family: 'Roboto', sans-serif;
        font-size: calc(16px + (8/1200) * 100 * 1vw);
        font-weight: 600;
        text-align: center margin-top: -50px;
        margin-bottom: 50px;
    }
    
    .bg-black {
        background-color: #000000;
    }
    
    .bg-cinzaescuro {
        background-color: #222428;
    }
    
    .bg-cinzaclaro {
        background-color: #f5f9ff;
    }
    
    .bg-azul {
        background-color: #4484fb;
    }
    
    .font-branca {
        color: #FFFFFF;
    }
    
    .superbold {
        font-weight: 700;
    }
    
    .box-timer-1 {
        background-color: #222428;
        max-width: 637px;
        margin: 0 auto 48px auto;
        text-align: center;
        padding: 30px 25px 10px 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 1px #000 solid;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background-color: #222428;
    }
    
    .box-timer-1>h3 {
        color: #fff;
        font-weight: 700;
        padding: 20px 0 12px 0;
    }
    
    .box-timer-1>p {
        color: #fff;
    }

    .box-timer-meio {
        max-width: 637px;
        margin: 0 auto 48px auto;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .box-timer-meio>h3 {
        color: #fff;
        font-weight: 700;
        padding: 20px 0 12px 0;
    }
    
    .box-timer-meio>p {
        color: #fff;
    }
    
    #border-radius-5{
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }


    img.alignleft {
        float: left;
        border-radius: 10px;
        box-shadow: 0 45px 100px rgba(0, 0, 0, .3);
        margin-top: 10px;
        margin-bottom: 25px;
        width: 370px;
        margin-right: 30px;
    }
    
    h2.titulo-grande-dois {
        font-size: 70px;
        letter-spacing: -2px;
        font-weight: 800;
        margin: 0px;
        padding: 0px;
        color: #fb4484;
    }
    
    h3.destaque1 {
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        background-color: #4484fb;
        font-weight: 700;
        color: #fff;
        margin-top: 40px;
    }
    
    h2.destaque2 {
        font-family: 'Roboto', sans-serif;
        font-size: 70px;
        background-color: #4484fb;
        font-weight: 800;
        color: #fff;
        margin-bottom: 40px;
    }
    
    @media only screen and (max-width: 479px) {
        h3.destaque1 {
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            background-color: #4484fb;
            font-weight: 700;
            color: #fff;
            margin-top: 40px;
        }
        h2.destaque2 {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            background-color: #4484fb;
            font-weight: 800;
            color: #fff;
            margin-bottom: 40px;
        }
        h2.titulo-grande-dois {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
        }
    }
    /*ADICIONA ESPAÇOS ONDE FOREM INSERIDOS, É RESPONSIVO*/
    
    .espaco-baixo-um {
        padding-bottom: 5px !important;
    }
    
    .espaco-baixo-dois {
        padding-bottom: 20px !important;
    }
    
    .espaco-baixo-tres {
        padding-bottom: 30px !important;
    }
    
    .espaco-baixo-quatro {
        padding-bottom: 40px !important;
    }
    
    .espaco-cima-um {
        padding-top: 5px !important;
    }
    
    .espaco-cima-dois {
        padding-top: 20px !important;
    }
    
    .espaco-cima-tres {
        padding-top: 30px !important;
    }
    
    .espaco-cima-quatro {
        padding-top: 40px !important;
    }

    #mycountdown span.arredonda {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      border: 2px solid #b7babc;
      border-radius: 50%;
      padding: 20px 25px;
      color: #b7babc;
      }




      #mycountdown span.texto {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        color: #b7babc;
        margin-left: 15px;
      }

      @media only screen and (max-width: 576px) {
    #mycountdown span.arredonda {
      font-family: Roboto;
      font-size: 25px;
      font-weight: 400;
      border: 2px solid #b7babc;
      border-radius: 50%;
      padding: 20px 20px;
      color: #b7babc;
      }


      #mycountdown span.texto {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        color: #b7babc;
        margin-left: 16px;
      } 
    }

    @media only screen and (max-width: 568px) {
    #mycountdown span.arredonda {
      font-family: Roboto;
      font-size: 25px;
      font-weight: 400;
      border: 2px solid #b7babc;
      border-radius: 50%;
      padding: 16px 16px;
      color: #b7babc;
      }


      #mycountdown span.texto {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #b7babc;
        margin-left: 15px;
      } 
    }
    #shadownverde {
            border: 1px solid #4DD544;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(77, 213, 68, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(77, 213, 68, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(77, 213, 68, 0.3);
        }
        /*LISTA COMPLETA*/
        
        .lista-completa {
            max-width: 940px;
            margin: 0 auto;
            padding: 18px 50px 0 50px;
            border-radius: 10px;
            background-color: #fff;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
        }
        
        .lista-completa p {
            font-weight: 700;
            padding: 18px 0px 18px 40px;
            margin-bottom: 0px;
            border-bottom: 1px dashed #4484fb;
            background-image: url(../icons/check-list01.png);
            background-position: 10px 21px !important;
            background-repeat: no-repeat;
            background-size: 20px;
        }
        
        .lista-completa p:last-child {
            border-bottom: none;
        }
        /*BONUS .bonus01{ max-width: 920px; margin: 48px auto; background-color: #fff; border-radius: 10px; -webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3); -moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3); box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3); padding-bottom: 30px; } .bonus01 h4{ color: #fff; background-color: #11171a; max-width: 100%; text-align: center; padding-top: 25px; border-radius: 10px 10px 0 0; font-weight: 300; letter-spacing: 2px; } .bonus01 h2{ color: #fff; background-color: #11171a; max-width: 100%; text-align: center; padding: 5px 100px 25px 100px; margin-bottom: 48px; font-size: 34px; letter-spacing: 0px; } .bonus01 p{ margin-top: 20px; padding-left:73px; padding-right: 73px; } */
        /*LISTA DE BENEFICIOS 05*/
        
        .beneficios05 .one-third>.element-container {
            padding: 18px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(68, 132, 251, 0.3);
            border-top: 5px solid #4484fb;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
        }
        
        .beneficios05 .one-third {
            z-index: 100 !important;
        }
        
        .beneficios05 img {
            max-width: 56px;
        }
        
        .beneficios05 h4 {
            margin-bottom: 10px;
            color: #11171a;
            font-weight: 700;
        }
        
        #resetimage2 {
            margin: 0 auto;
            text-align: center;
            border: none;
            transform: rotate(0deg);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        }
        /*BLOCO PORQUE FUNCIONA, AQUELE QUE EU MOSTRO A IMAGEM COM OS PASSOS 1 2 3 4*/
        
        .porque-funciona img {
            max-width: 340px !important;
        }
        
        .porque-funciona img {
            max-width: 100% !important;
        }
        /*BLOCO FUNCIONALIDADES, USEI IMAGENS COM MARGEM NEGATIVA*/
        
        .funcionalidades {}
        
        .funcionalidades img.alignright {
            width: 90% !important;
            margin: 0 auto;
            text-align: center;
            float: right;
            display: block;
            border-radius: 10px;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
        }
        
        .funcionalidades img.alignright.wp-image-2070 {}
        
        .funcionalidades img.alignright.wp-image-2071 {
            margin-top: -50px;
        }
        
        .funcionalidades img.alignright.wp-image-2072 {
            margin-top: -50px;
        }
        
        .funcionalidades img.alignright.wp-image-2073 {
            margin-top: -50px;
        }
        
        .funcionalidades img.alignright.wp-image-2074 {
            margin-top: -50px;
        }
        /*BLOCO FUNCIONALIDADES, USEI IMAGENS COM MARGEM NEGATIVA*/
        
        .funcionalidades {
            max-width: 770px !important;
            margin: 0 auto;
        }
        
        .funcionalidades img.alignright {
            width: 300px !important;
            margin-left: 30px;
            clear: both;
        }
        
        .funcionalidades img.alignright.wp-image-2070 {
            -ms-transform: rotate(5deg);
            /* IE 9 */
            -webkit-transform: rotate(5deg);
            /* Safari 3-8 */
            transform: rotate(5deg);
            border: 3px solid #fff;
        }
        
        .funcionalidades img.alignright.wp-image-2071 {
            -ms-transform: rotate(-5deg);
            /* IE 9 */
            -webkit-transform: rotate(-5deg);
            /* Safari 3-8 */
            transform: rotate(-5deg);
            margin-top: -80px;
            border: 3px solid #fff;
        }
        
        .funcionalidades img.alignright.wp-image-2072 {
            -ms-transform: rotate(5deg);
            /* IE 9 */
            -webkit-transform: rotate(5deg);
            /* Safari 3-8 */
            transform: rotate(5deg);
            margin-top: -80px;
            border: 3px solid #fff;
        }
        
        .funcionalidades img.alignright.wp-image-2073 {
            -ms-transform: rotate(-5deg);
            /* IE 9 */
            -webkit-transform: rotate(-5deg);
            /* Safari 3-8 */
            transform: rotate(-5deg);
            margin-top: -80px;
            border: 3px solid #fff;
        }
        
        .funcionalidades img.alignright.wp-image-2074 {
            -ms-transform: rotate(5deg);
            /* IE 9 */
            -webkit-transform: rotate(5deg);
            /* Safari 3-8 */
            transform: rotate(5deg);
            margin-top: -80px;
            border: 3px solid #fff;
        }
        /*BLOCO SE VOCE QUER RESPONSIVO*/
        
        .se-voce-quer {
            margin: 0 auto;
            background-color: #fff;
            padding: 48px 48px 0 48px;
            border-radius: 10px;
        }
        
        .se-voce-quer p {
            padding: 1px 0px 20px 50px;
            background-image: url(../icons/check3.png);
            background-position: left top !important;
            background-repeat: no-repeat;
            background-size: 30px;
            border-bottom: 1px dashed rgba(68, 132, 251, 0.5);
        }
        
        .se-voce-quer p:last-child {
            border-bottom: none;
        }
        
        div.reseth4 h4 {
            font-weight: 400;
        }
        
        .modulos {
            max-width: 920px;
            margin: 48px auto;
            background-color: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            padding-bottom: 30px;
        }
        
        .modulos h4 {
            color: #fff;
            background-color: #4484fb;
            max-width: 100%;
            text-align: center;
            padding-top: 25px;
            border-radius: 10px 10px 0 0;
            font-weight: 300;
            letter-spacing: 2px;
        }
        
        .modulos>.row p {
            line-height: 1.6em;
        }
        
        .modulos img {
            margin-bottom: 15px;
        }
        
        ul.lista li {
            padding-top: 0px line-height: 2.3em;
        }
        
        ul.lista01 li {
            padding-right: 40px;
            margin-left: 60px;
            line-height: 2.3em;
        }
        
        ul.lista02 li {
            margin-left: 60px;
            line-height: 2.3em;
        }
        /* Formatação para respoivo */
        
        @media only screen and (max-width: 576px) {
            div#resetultimotitulo h2 {
                font-size: 40px !important;
            }
            /*LISTA COMPLETA*/
            .lista-completa {
                max-width: 810px;
                margin: 0 auto;
                padding: 5px 5px 0 5px;
                border-radius: 10px;
                background-color: #fff;
                -webkit-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
                -moz-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
                box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            }
            .lista-completa p {
                font-weight: 700;
                padding: 15px 0px 10px 30px;
                margin-bottom: 0px;
                border-bottom: 1px dashed #4484fb;
                background-image: url(../icons/check-list01.png);
                background-position: 10px 21px !important;
                background-repeat: no-repeat;
                background-size: 15px;
            }
            .lista-completa p:last-child {
                border-bottom: none;
            }
            .bonus01 h2 {
                color: #fff;
                background-color: #11171a;
                max-width: 100%;
                text-align: center;
                padding: 5px 100px 25px 100px;
                margin-bottom: 48px;
                font-size: 25px;
                letter-spacing: 0px;
            }
            /* Coloca float: right da imagem quando mostrada em celular*/
            #resetimage2 {
                border: none;
                float: left;
                transform: rotate(0deg);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            }
            /* Tira float: right da imagem quando mostrada em celular*/
            .funcionalidades img.alignright {
                width: 90% !important;
                margin: 0 auto;
                text-align: center;
                float: none;
                display: block;
                border-radius: 10px;
                -webkit-box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 81px 0px rgba(0, 0, 0, 0.3);
            }
            .modulos>.row>div h2 {
                color: #fff;
                background-color: #4484fb;
                max-width: 100%;
                text-align: center;
                font-size: 25px;
                letter-spacing: 0px;
            }
            .modulos img {
                margin-bottom: 15px;
            }
            .modulos>.row p {
                margin-top: 15px margin-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 1.6em;
                text-align: justify;
            }
            ul.lista li {
                line-height: 1.8em;
            }
            ul.lista01 li {
                padding-right: 0px;
                margin-left: -20px;
                /* text-align: justify; */
            }
            ul.lista02 li {
                margin-top: 10px;
                margin-left: -20px;
                line-height: 1.8em;
                /* text-align: justify; */
            }
            /*BLOCO SE VOCE QUER RESPONSIVO*/
            .se-voce-quer {
                margin: 0 auto;
                background-color: #fff;
                padding: 10px 10px 0 10px;
                border-radius: 10px;
            }
            .se-voce-quer p {
                padding: 0px 0px 10px 25px;
                background-image: url(../icons/check3.png);
                background-position: left top !important;
                background-repeat: no-repeat;
                background-size: 17px;
                border-bottom: 1px dashed rgba(68, 132, 251, 0.5);
                line-height: 1.6em;
            }
            .se-voce-quer p:last-child {
                border-bottom: none;
            }
            .se-voce-quer p {
                background-position: left 3px !important;
            }
        }
        
        .modulos h2 {
            color: #fff;
            background-color: #4484fb;
            max-width: 100%;
            text-align: center;
            font-size: 34px;
            letter-spacing: 0px;
        }
        
        .modulos p {
            padding-left: 73px;
            padding-right: 73px;
        }
        
        .lista {
            margin-left: 18px;
            margin-right: 18px;
            padding: 18px 10px 0px 0px;
        }
        
        .lista li {
            padding: 0px 0px 12px 30px;
            background-position: left 5px !important;
            background-size: 18px;
            margin-left: 20px;
        }
        
        .lista01 li {
            padding: 0px 0px 10px 34px;
            background-position: left 5px !important;
            background-size: 18px;
            margin-left: 37px;
            margin-right: 30px;
        }
        
        .lista02 li {
            padding: 0px 0px 0px 32px;
            background-position: left 7px !important;
            background-size: 14px;
            margin-left: 40px;
            margin-right: 30px;
        }
        
        .lista04 li {
            padding: 20px 0px 20px 30px;
            background-position: left 24px !important;
            background-size: 18px;
            margin: 0 0 0 25px;
            letter-spacing: 0px;
        }
        
        .lista04 li:last-child {}
        
        .lista04 li>span {
            letter-spacing: 0px;
        }
        
        .lista05 li {
            list-style: none;
            padding: 0px 0px 20px 30px;
            background-position: left 1px !important;
            background-size: 18px;
            margin: 20px 25px 20px 25px;
            letter-spacing: 0px;
            line-height: 1.3;
        }
        
        .lista05 li:last-child {}
        
        .box-alerta.amarelo {
            padding: 18px;
        }
        
        .box-alerta.amarelo p {}
        
        .box-alerta.amarelo {
            max-width: 620px;
            margin: 25px auto 18px auto;
            text-align: center;
            border-radius: 10px;
            background-color: #f2eabb;
            border: 2px solid #f4da95;
            padding: 25px;
        }
        
        .box-alerta.amarelo p {
            font-weight: 700;
            margin: 0px;
        }
        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 5px solid #4484fb;
            background-color: #4484fb;
        }
        
        .carousel-item {
            background-color: #fff;
            border-radius: 10px;
            border: 3px solid rgba(68, 132, 251, 0.3);
            border-top: 5px solid #4484fb;
            -webkit-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            -moz-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            /* Show 4th slide on md if col-md-4*/
            .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -33.3333%;
                /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
        }
        
        @media (min-width: 576px) and (max-width: 768px) {
            /* Show 3rd slide on sm if col-sm-6*/
            .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -50%;
                /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
        }
        
        @media (min-width: 576px) {
            .carousel-item {
                margin-right: 0;
            }
            /* show 2 items */
            .carousel-inner .active + .carousel-item {
                display: block;
            }
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
                transition: none;
            }
            .carousel-inner .carousel-item-next {
                position: relative;
                transform: translate3d(0, 0, 0);
            }
            /* left or forward direction */
            .active.carousel-item-left + .carousel-item-next.carousel-item-left,
            .carousel-item-next.carousel-item-left + .carousel-item,
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            /* farthest right hidden item must be also positioned for animations */
            .carousel-inner .carousel-item-prev.carousel-item-right {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                display: block;
                visibility: visible;
            }
            /* right or prev direction */
            .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
            .carousel-item-prev.carousel-item-right + .carousel-item,
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }
        /* MD */
        
        @media (min-width: 768px) {
            /* show 3rd of 3 item slide */
            .carousel-inner .active + .carousel-item + .carousel-item {
                display: block;
            }
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
                transition: none;
            }
            .carousel-inner .carousel-item-next {
                position: relative;
                transform: translate3d(0, 0, 0);
            }
            /* left or forward direction */
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            /* right or prev direction */
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }
        /* LG */
        
        @media (min-width: 991px) {
            /* show 4th item */
            .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
                display: block;
            }
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
                transition: none;
            }
            /* Show 5th slide on lg if col-lg-3 */
            .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -25%;
                /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
            /* left or forward direction */
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            /* right or prev direction //t - previous slide direction last item animation fix */
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }
        
        .beneficios03 {
            padding: 18px 18px 18px 60px;
            background-image: url(../icons/check-verde.png);
            background-position: 15px 20px;
            background-repeat: no-repeat;
            margin-bottom: 25px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(68, 132, 251, 0.3);
            border-top: 5px solid #4484fb;
            -webkit-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            -moz-box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
            box-shadow: 0px 2px 81px 0px rgba(68, 132, 251, 0.3);
        }
        
        .titulo-grande-tres h2 {
            font-size: 100px;
            letter-spacing: -2px;
            font-weight: 800;
            margin: 0px;
            padding: 0px;
            color: #4484fb;
        }
        
        .titulo-grande-quatro h2 {
            font-size: 110px;
            letter-spacing: -2px;
            font-weight: 800;
            margin: 0px;
            padding: 0px;
            color: #4484fb;
        }
        
        .beneficios01 {
            padding: 18px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(68, 132, 251, 0.3);
            border-top: 5px solid #4484fb;
            -webkit-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            -moz-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            margin: 30px 20px 0 0;
        }
        
        @media only screen and (max-width: 576px) {
            .beneficios01 {
                padding: 18px;
                text-align: center;
                background-color: #fff;
                border-radius: 10px;
                border: 1px solid rgba(68, 132, 251, 0.3);
                border-top: 5px solid #4484fb;
                -webkit-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                -moz-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                margin: 25px 0 0 0;
            }
        }
        
        .beneficios01 img {
            max-width: 56px;
            margin-bottom: 20px;
        }
        
        .beneficios01 h4 {
            margin-bottom: 20px;
            background-color: #e8f0ff;
            border-radius: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            color: #11171a;
            font-weight: 800;
        }
        
        .beneficios01 p {
            font-size: 18px;
            line-height: 28.8px;
        }
        
        .beneficios02 {
            padding: 18px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid rgba(68, 132, 251, 0.3);
            border-top: 5px solid #4484fb;
            -webkit-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            -moz-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
            margin: 30px 20px 0 0;
        }
        
        @media only screen and (max-width: 576px) {
            .beneficios02 {
                padding: 18px;
                text-align: center;
                background-color: #fff;
                border-radius: 10px;
                border: 1px solid rgba(68, 132, 251, 0.3);
                border-top: 5px solid #4484fb;
                -webkit-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                -moz-box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                box-shadow: 0px 2px 52px 0px rgba(68, 132, 251, 0.25);
                margin: 25px 0 0 0;
            }
        }

        @media only screen and (min-width: 768px) {
    .img-fluid-reset {
      border-radius: 10px; 
      float: left;
      margin-bottom: 15px; 
      max-width: 360px;
      margin-right: 20px;
      }
  }

  @media only screen and (min-width: 768px) {
    .img-fluid-reset-2 {
      border-radius: 10px; 
      float: left;
      margin-bottom: 15px; 
      margin-right: 20px;
      }
  }
  @media only screen and (min-width: 321px) and (max-width: 360px){
    .img-fluid-reset-2 {
      border-radius: 10px; 
      float: left;
      margin-bottom: 15px; 
      margin-right: 20px;
      min-width: 320px;
      }
  }

  @media only screen and (min-width: 400px) and (max-width: 420px){
    .img-fluid-reset-2 {
      border-radius: 10px; 
      float: left;
      margin-bottom: 15px; 
      margin-left: 10px;
      min-width: 360px;
      }
  }

  @media only screen and (min-width: 370px) and (max-width: 399px){
    .img-fluid-reset-2 {
      border-radius: 10px; 
      float: left;
      margin-bottom: 15px; 
      margin-left: 10px;
      min-width: 320px;
      }
  }
        
        .beneficios02 img {
            max-width: 56px;
            margin-bottom: 20px;
        }
        
        .beneficios02 h4 {
            margin-bottom: 20px;
            border-radius: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            color: #11171a;
            font-weight: 800;
        }
        
        .beneficios02 p {
            font-size: 18px;
            line-height: 28.8px;
        }
