/*
* Cor escura: #11171a
* cor azul: #4484fb
* cor verde: #4dd544
* cor destaque: #fb4484
* cor fundo claro: 
* cor azul forte: #0556ED
*/

/*ORGANIZACAO GERAL*/
p, h1, h2, h3, h4, h5, div, body, li, ul, ol{
	font-family: 'Roboto', sans-serif;
	color: #11171A;    
}

p, div, body{
	font-size: 18px;
}

 
h1{
	font-size: 40px;
	line-height: 1.25!important;
	letter-spacing: -0.5px;
}

h2{
	font-size: 40px;
	line-height: 1.25 !important;
	letter-spacing: -0.5px;
	font-weight: 700;
}

h2>strong{
	font-weight: 900 !important;
}

h3{
	font-size: 34px;
	line-height: 1.3 !important;
	letter-spacing: -0.5px;
}

h3>strong{
	font-weight: 900;
}

h4{
	font-size: 20px;
	line-height: 1.4 !important;
	color: #4484fb;
	max-width: 810px;
	margin: 0 auto;
	font-weight: 400;
}

strong{
	font-weight: 900; 
}

a{
	color: #4484fb;
	transition:all 300ms ease 0ms;
}

a:hover{
	color: #0556ed;
}



/*TOPO GERAL, USEI NAS PÁGINAS DE VENDAS E OUTROS, DA UM ESPAÇO LEGAL EM CIMA, E DIMINUI EM MONITORRES 1366*/
.hero{
	padding-top: 48px !important; 
}
.hero .sub-headline p{
	line-height: 1.25; 
}



/*ADICIONA ESPAÇOS ONDE FOREM INSERIDOS, É RESPONSIVO*/
.espaco-baixo-um{
	padding-bottom: 18px !important;  	
}

.espaco-baixo-dois{
	padding-bottom: 40px !important;	
}

.espaco-baixo-tres{
	padding-bottom: 52px !important;	
}

.espaco-baixo-quatro{
	padding-bottom: 100px !important;	
}

.espaco-cima-um{
	padding-top: 18px !important;	
}

.espaco-cima-dois{
	padding-top: 30px !important;	 
}

.espaco-cima-tres{
	padding-top: 52px !important; 
}

.espaco-cima-quatro{
	padding-top: 100px !important;	
}



/*PADRÃO DOS TEXTOS DA PÁGINA DE VENDAS*/
.texto .op-text-block{
	max-width: 770px;
	margin: 0 auto;
}
.texto img.alignleft{
	border-radius: 10px;
	box-shadow:0 45px 100px rgba(0,0,0,.3);
	margin-top: 10px;
	margin-bottom: 25px;
	width: 370px;
	margin-right: 30px;
}
.texto img.alignright{
	border-radius: 10px;
	box-shadow:0 45px 100px rgba(0,0,0,.3);
	margin-bottom: 25px;
	width: 370px;
	margin-left: 30px;
}
.texto img.aligncenter{
	border-radius: 10px;
	box-shadow:0 45px 100px rgba(0,0,0,.3);
	margin: 0px;
	margin-bottom: 30px;	
}
.texto-dois .op-text-block{
	max-width: 770px;
	margin: 0 auto;
}



/*ESTILOS LISTAS*/
.lista-simples{
	padding-left: 25px;
	line-height: 1.8em !important;
}
.lista{
	background-color: #e8f0ff;
	border-radius: 10px;
	margin-left:50px;
	margin-right:50px;
	padding: 20px 12px 1px 0px;
}
.lista li{
	list-style: none;
	color: #4484fb;
	font-weight: 700; 
	padding:0px 0px 12px 34px;
	background-image:url(https://cdn-5d1c8ba3f911c815f8954a56.closte.com/wp-content/uploads/2019/08/check-list01-azul.png);
	background-position:left 3px !important;
	background-repeat: no-repeat;
	background-size: 20px; 
	margin-left:25px;
}

.lista01 li{ 
	list-style: none;
	padding:0px 0px 12px 34px;
	background-image:url(https://metodo.expert/wp-content/uploads/2019/05/check-list01.png);
	background-position:left 5px !important;
	background-repeat: no-repeat;
	background-size: 20px; 
	margin-left:100px;
	margin-right:73px; 
}

.lista02 li{ 
	list-style: none;
	padding:0px 0px 5px 32px;
	background-image:url(https://metodo.expert/wp-content/uploads/2019/05/check-list02.png);
	background-position:left 8px !important;
	background-repeat: no-repeat;
	background-size: 14px;
	margin-left:103px;
	margin-right:73px;
}

.lista04 ul{  
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.lista04 li{  
	list-style: none;
	padding:20px 0px 18px 34px;
	background-image:url(https://cdn-5d1c8ba3f911c815f8954a56.closte.com/wp-content/uploads/2019/08/check-list01-azul.png);
	background-position:left 20px !important;
	background-repeat: no-repeat;
	background-size: 20px;
	margin-top: -18px;
	margin-right:20px; 
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 0.3px; 
	border-bottom: 1px dashed rgba(68,132,251,0.5);
	line-height: 1.2;
}
.lista04 li:last-child{  
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.lista04 li>span{  
	display: inline-block;
	padding-top: 2px;
	font-size: 16px;
	color: #525252; 
	font-weight: 300;
	line-height: 1.4; 
	letter-spacing: 0.1px; 
}

.lista05 li{  
	list-style: none;
	padding:0px 0px 18px 30px;
	background-image:url(https://cdn-5d1c8ba3f911c815f8954a56.closte.com/wp-content/uploads/2019/08/check-list01-azul.png);
	background-position:left 1px !important;
	background-repeat: no-repeat;
	background-size: 20px;
	margin-bottom: 18px;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: 500;
	letter-spacing: 0.3px; 
	border-bottom: 1px dashed rgba(68,132,251,0.5);
	line-height: 1.2;
}
.lista05 li:last-child{  
	border-bottom: none;
}


/*LINHA DIVISORIA EM FORMATO TRIANGULO*/
.linha-destaque-container .element{ 
	margin: 0 auto !important;
	width: 0; 
	height: 0;
	border-style: solid;
	border-width: 50px 400px 0 400px;
}

.linha-destaque-container.azul .element{ 
	border-color: #4484fb transparent transparent transparent;
	line-height: 0px;
	_border-color: #4484fb #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.linha-destaque-container.claro .element{ 
	border-color: #ecedf1 transparent transparent transparent;
	line-height: 0px;
	_border-color: #ecedf1 #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.linha-destaque-container.azulclaro .element{ 
	border-color: #e3ecfe transparent transparent transparent;
	line-height: 0px;
	_border-color: #e3ecfe #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}



/*LISTA DE BENEFICIOS 01*/
.beneficios01 .one-third>.element-container {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb;
	-webkit-box-shadow: 0px 2px 52px 0px rgba(68,132,251,0.25); 
	-moz-box-shadow: 0px 2px 52px 0px rgba(68,132,251,0.25);
	box-shadow: 0px 2px 52px 0px rgba(68,132,251,0.25);
}
.beneficios01 img{
	max-width: 56px; 
}
.beneficios01 h4{ 
	margin-bottom: 10px;
	background-color: #e8f0ff;
	border-radius:50px;
	padding-top:7px;
	padding-bottom:7px;
	color: #11171a;
	font-weight: 800;
}



/*LISTA DE BENEFICIOS 02*/
.beneficios02 .one-third>.element-container {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}
.beneficios02 .one-third {
	z-index: 100 !important; 
}
.beneficios02 img{
	max-width: 56px;
}
.beneficios02 h4{
	font-size: 18px;
	margin-bottom: 18px;
	color: #535b7c;
	font-weight: 900;
}



/*LISTA DE BENEFICIOS 03*/
.beneficios03 .op-text-block {
	max-width: 810px;
	margin: 0 auto;
}
.beneficios03 .op-text-block p{
	padding:18px 18px 18px 60px;
	background-image:url(icons/check-verde.png);
	background-position:15px 20px;
	background-repeat: no-repeat; 
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb; 
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}



/*LISTA DE BENEFICIOS 04*/
.beneficios04 .one-third>.element-container {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}
.beneficios04 .one-third {
	z-index: 100 !important;
}
.beneficios04 img{
	max-width: 56px;
}
.beneficios04 h4{
	font-size: 18px;
	margin-bottom: 18px;
	color: #11171a;
}



/*LISTA DE BENEFICIOS 05*/
.beneficios05 .one-third>.element-container {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}
.beneficios05 .one-third {
	z-index: 100 !important;
}
.beneficios05 img{
	max-width: 56px;
}
.beneficios05 h4{
	margin-bottom: 10px;
	color: #11171a; 
	font-weight: 700;
}



/*LISTA DE BENEFICIOS 06*/
.beneficios06 .one-third>.element-container {
	padding: 18px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(68,132,251,0.3);
	border-top: 5px solid #4484fb;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}
.beneficios06 .one-third {
	z-index: 100 !important;
}
.beneficios06 img{
	max-width: 56px;
}
.beneficios06 h4{
	margin-bottom: 18px;
	color: #11171a;
	font-weight: 700;
}



/*MODULOS*/
.modulos{
	max-width: 920px;
	margin: 48px auto;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	padding-bottom: 30px;
}
.modulos h4{
	color: #fff;
	background-color: #4484fb;
	max-width: 100%;
	text-align: center;
	padding-top: 25px;
	border-radius: 10px 10px 0 0;
	font-weight: 300;
	letter-spacing: 2px;
}
.modulos h2{
	color: #fff;
	background-color: #4484fb;
	max-width: 100%;
	text-align: center;
	padding: 5px 100px 25px 100px;
	margin-bottom: 48px; 
	font-size: 34px;
	letter-spacing: 0px;
}
.modulos p{
	padding-left:73px;
	padding-right: 73px;
}



/*BONUS*/
.bonus01{
	max-width: 920px;
	margin: 48px auto;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	padding-bottom: 30px;
}
.bonus01 h4{
	color: #fff;
	background-color: #11171a;
	max-width: 100%;
	text-align: center;
	padding-top: 25px;
	border-radius: 10px 10px 0 0;
	font-weight: 300;
	letter-spacing: 2px;
}
.bonus01 h2{
	color: #fff;
	background-color: #11171a;
	max-width: 100%;
	text-align: center;
	padding: 5px 100px 25px 100px;
	margin-bottom: 48px; 
	font-size: 34px;
	letter-spacing: 0px;
}
.bonus01 p{
	padding-left:73px;
	padding-right: 73px;
}



/*LISTA COMPLETA*/
.lista-completa{
	max-width: 810px;
	margin: 0 auto;
	padding:18px 50px 0 50px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}
.lista-completa p{
	font-weight: 700;
	padding: 18px 0px 18px 40px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #4484fb;
	background-image:url(icons/check-list01.png);
	background-position:10px 21px !important;
	background-repeat: no-repeat;
	background-size: 20px; 
}
.lista-completa p:last-child{
	border-bottom: none; 
}



/*BOX ALERTAS*/
.box-alerta.amarelo{
	max-width: 620px;
	margin: 25px auto 18px auto;
	text-align: center;
	border-radius: 10px;
	background-color: #f2eabb;
	border: 2px solid #f4da95;
	padding: 25px;
}
.box-alerta.amarelo p{
	font-weight: 700;
	margin: 0px;
}



/*BOTAO CTA*/
.botao-cta-verde{
	text-align: center !important;
	margin: 0 auto !important;
	display: block;
	width: 810px !important;
	padding-top: 25px;
	padding-bottom: 25px;
	color:#ffffff!important; 
	border-width:0px!important;
	border-radius:100px;
	font-size:30px;
	font-weight:700!important;
	background-color:#4dd544;
	-webkit-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.3), 0px 12px 18px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.3),	0px 12px 18px -6px rgba(0,0,0,0.5);
	box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.3),	0px 12px 18px -6px rgba(0,0,0,0.5);
	transition:all 300ms ease 0ms;
}
.botao-cta-verde span{ 
	display: block;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0px;
	margin-top: -10px;
}
.botao-cta-verde span:hover{
	letter-spacing: 0px;
}
a.botao-cta-verde:hover{
	letter-spacing: 0.5px;
	text-decoration:none;
}
.link-cta{
	text-align: center;
	display: block;
	margin-top: 12px;
	font-weight: 700;
	text-decoration: none;
}



/*BOX CTA VERDE*/
.cta-escassez{
	max-width: 637px;
	margin: 48px auto;
	text-align: center;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(77,213,68,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(77,213,68,0.3);
	box-shadow: 0px 2px 81px 0px rgba(77,213,68,0.3);
}
.cta-escassez .feature-box-creator{
	padding: 30px 25px 10px 25px; 
}
.cta-escassez h3{
	padding:30px 0 12px 0;
}
.cta-escassez .countdown-timer {
	padding-bottom:48px;
} 
.imagem-seguranca{
	margin: 50px auto 0 auto;  
}
.imagem-zap{
	max-width:500px;
	margin: 30px auto;
	border: 2px solid #8fb5fd;
	border-radius: 100px;
	padding: 10px;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.3);
}



/*CTA HERO*/
.cta-hero .cta-escassez-hero{
	max-width: 637px;
	margin: 0 auto 48px auto;
	text-align: center;
}
.cta-hero .cta-escassez-hero .feature-box-creator{
	padding: 30px 25px 10px 25px; 
}
.cta-hero .cta-escassez-hero h3{
	color: #fff;
	padding:20px 0 12px 0;
}
.cta-hero .cta-escassez-hero .countdown-timer {
	padding-bottom:48px;
} 
.cta-hero .cta-escassez-hero p{
	color: #fff;
} 
.cta-hero .imagem-zap{
	max-width:500px;
	margin: 30px auto; 
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 100px;
	padding: 10px;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/*TITULOS DESTAQUES*/
.titulo-grande h2{
	font-size: 70px;
	letter-spacing: -1px;
	font-weight: 800;
	margin: 0px;
	padding: 0px;
}
.titulo-grande-dois h2{
	font-size: 70px;
	letter-spacing: -2px;
	font-weight: 800;
	margin: 0px;
	padding: 0px;
	color: #fb4484;
}
.titulo-grande-tres h2{
	font-size: 100px;
	letter-spacing: -2px;
	font-weight: 800;
	margin: 0px;
	padding: 0px;
	color: #4484fb;
}
.titulo-grande-quatro h2{
	font-size: 110px;
	letter-spacing: -2px;
	font-weight: 800;
	margin: 0px;
	padding: 0px;
	color: #4484fb;
}















/*SLIDES DE DEPOIMENTOS*/
.sagrado{
	max-width: 1800px;
	margin: 0 auto;
}
.sagrado .item{
	padding: 25px;
}
.sagrado img{
	max-width: 280px;
	margin: 0 auto;
	border: 3px solid rgba(68,132,251,0.3);
	border-radius: 10px;
}
.sagrado .slick-arrow:before{
	color: #4484fb;
}



/*MINHA FOTO REDONDA BEM PEQUENA NO TEXTO DA PÁGINA DE VENDAS*/
.imgnotexto{
	width: 40px !important;
	top: 14px !important;
	position: relative;
}



/*USEI NOS VIDEOS DE VENDAS*/
.videoautoplay .video-plugin-new{
	border-radius: 10px;
	border: 5px solid rgba(255,255,255,0.1) !important;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
}



/*MEU CODIGO PARA 4 COLUNAS, USEI NAS PAGINAS DE REMARKETING*/
.maior .quatro-colunas{
	background-color: transparent;
	max-width: 1200px;
	margin: 0 auto;
}
.maior .quatro-colunas *{
  box-sizing: border-box;
}
.maior .linhas {
	content: "";
  display: table;
  clear: both; 
}
.maior .colunas {
	float: left; 
	width: 25%;
	padding: 0 5px 10px 5px;
}  
.maior .coluna{ 
	background-color: #fff;
	text-align: center;
	border: 1px dashed #8fb5fd;
	border-radius: 10px;
	padding: 10px;
}
.maior .coluna h4{  
	padding: 20px 10px 5px 10px;
	border-radius: 10px 10px 0 0;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}
.maior .coluna h2{ 
	padding: 0 10px 0px 10px;
	font-size: 25px; 
	margin-bottom: 18px;
	font-weight: 900;
	letter-spacing: 0.2px;
	color: #0556ED;
}
.maior .coluna img{
	max-width: 56px;
}

.maior .coluna p{
	padding: 0px 10px 0 10px;
	color: #76a5fc;
	font-weight: 300;
}
.maior .coluna a{
	font-size: 14px;
	color: #fff;
	background-color: #4dd544;
	padding: 2px 5px;
	border-radius: 50px;
	transition:all 300ms ease 0ms;
}
.maior .coluna a:hover{
	letter-spacing: 1px;
	color: #fff;
	padding: 5px;
}



/*BOX DE TRES COLUNAS MEUS PRESENTES, USEI NAS PÁGINAS DE REMARKETING PARA DESTACAR CONTEUDO NOVO*/
.presente{
	background-color: #fff;
	text-align: center;
	padding-bottom: 25px;
	border: 1px dashed #8fb5fd;
	border-radius: 10px;
}
.presente h4{
	padding: 20px 10px 5px 10px;
	border-radius: 10px 10px 0 0;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}
.presente h2{ 
	padding: 0 10px 0px 10px;
	font-size: 25px; 
	margin-bottom: 18px;
	font-weight: 900;
	letter-spacing: 0.2px;
	color: #0556ED;
}
.presente img{
	max-width: 56px;
	margin-bottom: 18px;
}
.presente p{
	padding: 0px 10px 0 10px;
	color: #76a5fc;
	font-weight: 300;
}
.presente a{
	font-size: 14px;
	color: #fff;
	background-color: #4dd544;
	padding: 2px 5px;
	border-radius: 50px;
	transition:all 300ms ease 0ms;
}
.presente a:hover{
	letter-spacing: 1px;
	color: #fff;
	padding: 5px;
}



/*BOX COM A IMAGEM EM MARGEM LATERAL ESQUERDA NEGATIVA, USEI NAS PAGINAS DE REMARKETING*/ 
.bonus-remarketing .cols{
	background-color: #fff !important; 
	-webkit-box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 81px 0px rgba(0,0,0,0.3);
	border-radius: 10px !important;
	padding-top: 50px;
	padding-bottom: 100px;
}
.bonus-remarketing .element{
	padding-left: 100px;
	padding-right: 100px; 
}
.bonus-remarketing .imagem{
	max-width: 500px;
	background-color: #e3ecfe;
	border-radius: 10px; 
	float: left;
	margin-left: -150px;
	margin-top: -100px;
	margin-right: 50px;
	margin-bottom: 50px;
}
.bonus-remarketing .imagem img{
	max-width: 450px;
	padding: 25px;
	text-align: center;
}



/*HAKCS DE ESPAÇO, DESAPARECE EM TELA 1366 E METADE EM TABLET*/
.hack-espaco10{
	height: 10px;
}
.hack-espaco20{
	height: 20px;
}
.hack-espaco30{
	height: 30px;
}




/*DEIXA A PÁGINA MAIS LARGA, USEI EM ALGUNS ELEMENTOS DO HEADER, PRINCIPALMENTE EU USEI NAS PAGÍNAS DE REMARKETING QUE IA MOSTRAR UM CONTEÚDO MAIS NA HORIZONTAL*/
@media only screen and (min-width: 1140px){
.wide .fixed-width {
width: 1140px; 
}
.wide .one-column.column {
width: 1120px; 
}
.wide .one-half.column {
width: 549px;
}
.wide .one-third.column {
width: 360px;
}
}



/*DEIXA A PÁGINA MAIS LARGA, USEI EM ALGUNS ELEMENTOS DO HEADER, PRINCIPALMENTE EU USEI NAS PAGÍNAS DE REMARKETING PARA MOSTRAR 4 COLUNAS*/	
@media only screen and (min-width: 1140px){
.maior .fixed-width {
	width: 1240px; 
}
.maior .one-column.column {
	width: 1220px; 
}
}

/*HACK PAGINAS DE REMARKETING E PROMO COM BARRA FIXA NO TOPO COM TEMPO CONTANDO*/
.aviso-promo .aviso{
	float: left;
	width: 50%;
}
.aviso-promo .aviso h4{
	float: right;
	padding-top: 5px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.aviso-promo .evergrenn{
	float: left;
	width: 50%;
}
.aviso-promo .evergrenn .countdown_row{
	float: left !important;
}
.aviso-promo .evergrenn .countdown_row { 
}
.aviso-promo .evergrenn .countdown_section{
	font-size: 10px !important;
	color: #fff !important;
	background-color: rgba(0,0,0,0.5) !important;
	border-radius: 5px;
	padding: 0 2px
}
.aviso-promo .evergrenn .countdown_section br{
	display: block;
	content: " ";
	margin: -7px;
}
.aviso-promo .evergrenn .countdown_amount{
	background-color: transparent !important;
	padding: 5px 0 !important;
	line-height: 1 !important;
	height: auto !important;
	font-size: 14px !important;
}



/*AVISO TEM EBOOK E DOWNLOAD*/
.aviso-envio-ebook{
	background: rgba(68,132,251,1);
	padding: 21px;
	border-radius: 10px;
	color: #fff;
	font-weight: 400;
	border: 2px solid rgba(255,255,255,0.7);
	box-shadow:0px 2px 81px 0px rgba(0,0,0,0.5);
	text-align: center;
	max-width: 810px;
	margin: -10px auto 34px auto;
}

.download-ebook{
	background: rgba(68,132,251,1);
	padding: 21px;
	border-radius: 10px;
	color: #fff;
	font-weight: 400;
	border: 2px solid rgba(255,255,255,0.7); 
	box-shadow:0px 2px 81px 0px rgba(0,0,0,0.5);
	text-align: center;
	max-width: 810px;
	margin: -10px auto 34px auto;
}


.apagar{
    -moz-animation: cssAnimation 0s ease-in 30s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 30s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 30s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 30s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
			  padding: 0px;
			  border: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
			  padding: 0px;
			  border: 0;
    }
}



/*FOOTER PAGINAS FEITAS EM CONSTRUTOR*/
.footer{
	border-top: 1px solid #373737;
	padding-top: 100px !important; 
	background-color: #11171a;
}

.footer h2{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}

.footer div, .footer p, .footer ul, .footer li, .footer ol, .footer a{
	font-size: 13px;
	font-weight: 300;
}

.footer img{
	float: left;
}

/*PAGINA DE CAPTURA PAGINA INICIAL-17-08-2019*/
.hero-negativa-um{
	background-color: #4484fb;
	padding-bottom: 160px;
}
.hero-negativa-um h5>span {
	padding: 5px !important;
	display: inline-block;
}
.parte-negativa{
	margin-top: -200px;
}
.imagem-video-clique img{
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.8);
	-moz-box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.8);
	box-shadow: 0px 2px 81px 0px rgba(68,132,251,0.8);
	margin-bottom: 30px;
}


/*BLOG*/

.op-author-by{
	display: none; 
}
.op-author-avatar:after{
	content: "Por:";
	color: rgba(255,255,255,0.7)
}

.op-small-category-link a{
	letter-spacing: 0.7px;
	font-weight: 300;
}

.taxonomy-description{
	text-transform: initial;
}

h2.destaque{
	font-size: 55px !important;
	line-height: 1.2 !important;
	background-color: #4484fb;
	padding: 81px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 100px auto 0 auto;
	color: #fff !important;
	padding-bottom: 0px;
	border-radius: 10px 10px 0 0;
}
p.destaque{
	background-color: #4484fb;
	padding: 40px 140px 81px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 0 auto;
	color: #fff !important;
	margin-bottom: 48px;
	border-radius: 0 0 10px 10px;
}
div.destaque{
	max-width: 250px;
	float: right;
	margin-top: 43px;
	margin-right: -40px;
	
}
figure.destaque{
	max-width: 250px;
	float: right;
	margin-top: 43px;
	margin-right: -40px;
	
}





h2.destaque-um{
	font-size: 52px !important;
	line-height: 1.2 !important;
	background-color: #4484fb;
	padding: 40px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 100px auto 0 auto;
	color: #fff !important;
	padding-bottom: 0px;
	border-radius: 10px 10px 0 0;
}
p.destaque-um{
	background-color: #4484fb;
	padding: 30px 140px 40px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 0 auto;
	color: #fff !important;
	margin-bottom: 48px;
	border-radius: 0 0 10px 10px;
}
div.destaque-um{
	max-width: 250px;
	float: right;
	padding-top: 43px;
	margin-right: -40px  !important;
	
}

figure.destaque-um{
	max-width: 250px;
	float: right;
	padding-top: 34px;
	margin-right: -40px  !important;

}







h3.destaque-dois{
	font-size: 40px !important;
	line-height: 1.2 !important;
	background-color: #4484fb;
	padding: 30px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 100px auto 0 auto;
	color: #fff !important;
	padding-bottom: 0px;
	border-radius: 10px 10px 0 0;
}
p.destaque-dois{
	background-color: #4484fb;
	padding: 20px 140px 30px 140px;
	margin-left: -200px !important;
	margin-right: -200px !important;
	margin: 0 auto;
	color: #fff !important;
	margin-bottom: 48px;
	border-radius: 0 0 10px 10px;
}
div.destaque-dois{
	max-width: 250px; 
	float: right;
	padding-top: 30px;
	margin-right: -40px  !important;
	padding: 20px;

}
figure.destaque-dois{
	max-width: 250px; 
	float: right;
	padding-top: 30px;
	margin-right: -40px !important;
	padding: 20px;
	
}






.post-description{ 
	font-weight: bold;
	padding: 30px 50px;
	background: #ecf7fc;
	border-radius: 10px;
	margin: auto -70px;
	letter-spacing: 0.3px;
}

.hsg-featured-snippet{
	padding: 0px;
	border-radius: 10px;
	margin: 48px -70px;;
}
.hsg-featured-snippet h2{
	border-radius: 10px 10px 0 0;
	background-color: #11171a;
	color: #fff !important;
	padding: 50px;
	text-align: center;
	margin: 0px;
}
.hsg-featured-snippet ol{
	border:1px solid #cfd8dc;
	padding: 0;
}
.hsg-featured-snippet li{
	list-style-position:inside;
	padding: 25px 25px 25px 70px !important;
	border-top:1px solid #fff;
	border-bottom:1px solid #cfd8dc;
	transition:all 500ms ease 0ms;
}
.hsg-featured-snippet li:before{
	content: "\220E"; 
	position: absolute;
	left: -20px;
	transition:all 300ms ease 0ms;
}
.hsg-featured-snippet li:hover:before{
	content: "\220E"; 
	color: #4484fb;
}
.hsg-featured-snippet li:hover{
	background-color: #ecf7fc;
	border-top:1px solid #fff;
	border-bottom:1px solid #cfd8dc;
}

.single .entry-content img{
	border-radius: 10px !important;
}


.single .entry-content .tve-leads-shortcode {
	margin: 0 -70px;  
}























































































@media all and (max-width: 1400px) {
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	
.hero{
	padding-top: 20px !important;
}
	
.hero-wide{
	padding-top: 0px !important;
}

.maior{
	padding-top: 0px !important;
}

	
	
	
	
.hack-espaco10{
	height: 3px;
}
.hack-espaco20{
	height: 5px;
}
.hack-espaco30{
	height: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}


























































































@media only screen and (max-width: 759px){
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*REGULA O TAMANHO EM TABLETS*/
.op-live-editor-page .fixed-width{
		width: 80% !important;
}
	
.op-live-editor-page .column{
		width: 100% !important;
}

	

/*ORGANIZACAO GERAL*/
p, h1, h2, h3, h4, h5, div, body, li, ul, ol{
	   
}

p, div, body{
	
}
 
h1{
	font-size: 34px;
	letter-spacing: 0px;
}

h2{
	font-size: 34px;
	letter-spacing: 0px;
}

h2>strong{
	
}

h3{
	font-size: 30px;
	letter-spacing: 0px;
}

h3>strong{
	font-weight: 900;
}

h4{
	font-size: 18px;
}

strong{
	
}

a{

}

a:hover{
	
}



/*TOPO GERAL, USEI NAS PÁGINAS DE VENDAS E OUTROS, DA UM ESPAÇO LEGAL EM CIMA, E DIMINUI EM MONITORRES 1366*/
.hero{
	padding-top: 48px !important; 
}
.hero .sub-headline p{
	line-height: 1.4; 
}



/*ADICIONA ESPAÇOS ONDE FOREM INSERIDOS, É RESPONSIVO*/
.espaco-baixo-um{
	padding-bottom: 10px !important;  	
}

.espaco-baixo-dois{
	padding-bottom: 30px !important;	
}

.espaco-baixo-tres{
	padding-bottom: 40px !important;	
}

.espaco-baixo-quatro{
	padding-bottom: 60px !important;	
}

.espaco-cima-um{
	padding-top: 10px !important;	
}

.espaco-cima-dois{
	padding-top: 30px !important;	 
}

.espaco-cima-tres{
	padding-top: 40px !important; 
}

.espaco-cima-quatro{
	padding-top: 60px !important;	
}



/*PADRÃO DOS TEXTOS DA PÁGINA DE VENDAS*/
.texto .op-text-block{
	
}
.texto img.alignleft{
	width: 300px;
}
.texto img.alignright{
	width: 300px;
}
.texto img.aligncenter{
	
}
.texto-dois .op-text-block{
	
}
.texto-dois img.alignright{
	width: 300px;
}



/*ESTILOS LISTAS*/
.lista-simples{
	
}
.lista{
	margin-left:18px;
	margin-right:18px;
	padding: 18px 10px 0px 0px;
}
.lista li{
	padding:0px 0px 12px 30px;
	background-position:left 5px !important;
	background-size: 18px; 
	margin-left:20px;
}

.lista01 li{ 
	padding:0px 0px 10px 34px;
	background-position:left 5px !important;
	background-size: 18px; 
	margin-left:37px;
	margin-right:30px; 
}

.lista02 li{ 
	padding:0px 0px 0px 32px;
	background-position:left 7px !important;
	background-size: 14px;
	margin-left:40px;
	margin-right:30px;
}

.lista04 li{  
	padding:20px 0px 20px 30px;
	background-position:left 24px !important;
	background-size: 18px;
	margin: 0 0 0 25px;
	letter-spacing: 0px; 
}
.lista04 li:last-child{  
	
}
.lista04 li>span{  
	letter-spacing: 0px; 
}

.lista05 li{  
	list-style: none;
	padding:0px 0px 20px 30px;
	background-position:left 1px !important;
	background-size: 18px;
	margin: 20px 25px 20px 25px;
	letter-spacing: 0px; 
	line-height: 1.3;
}
.lista05 li:last-child{  

}


/*LINHA DIVISORIA EM FORMATO TRIANGULO*/
.linha-destaque-container .element{ 
	margin: 0 auto !important;
	width: 0; 
	height: 0;
	border-style: solid;
	border-width: 50px 250px 0 250px;
}

.linha-destaque-container.azul .element{ 
	
}

.linha-destaque-container.claro .element{ 
	
}

.linha-destaque-container.azulclaro .element{ 
	
}



/*LISTA DE BENEFICIOS 01*/
.beneficios01 .one-third>.element-container {
	
}
.beneficios01 img{

}
.beneficios01 h4{ 
	
}



/*LISTA DE BENEFICIOS 02*/
.beneficios02 .one-third>.element-container {
	
}
.beneficios02 .one-third {
	
}
.beneficios02 img{
	
}
.beneficios02 h4{
	
}



/*LISTA DE BENEFICIOS 03*/
.beneficios03 .op-text-block {
	
}
.beneficios03 .op-text-block p{
	padding:14px 14px 14px 50px;
	background-position:15px 16px;
	background-size: 25px;
	margin-bottom: 20px;
}



/*LISTA DE BENEFICIOS 04*/
.beneficios04 .one-third>.element-container {
	
}
.beneficios04 .one-third {
	
}
.beneficios04 img{

}
.beneficios04 h4{
	
}



/*LISTA DE BENEFICIOS 05*/
.beneficios05 .one-third>.element-container {
	
}
.beneficios05 .one-third {
	
}
.beneficios05 img{
	
}
.beneficios05 h4{
	
}



/*LISTA DE BENEFICIOS 06*/
.beneficios06 .one-third>.element-container {
	
}
.beneficios06 .one-third {
	
}
.beneficios06 img{

}
.beneficios06 h4{

}



/*MODULOS*/
.modulos{
	padding-bottom: 20px;
}
.modulos h4{
	padding-top: 20px;
}
.modulos h2{
	padding: 5px 25px 20px 25px;
	margin-bottom: 40px; 
	font-size: 30px;
}
.modulos p{
	padding-left:30px;
	padding-right: 30px;
}



/*BONUS*/
.bonus01{
	padding-bottom: 20px;
}
.bonus01 h4{
	padding-top: 20px;
}
.bonus01 h2{
	padding: 5px 25px 20px 25px;
	margin-bottom: 40px; 
	font-size: 30px;
}
.bonus01 p{
	padding-left:30px;
	padding-right: 30px;
}



/*LISTA COMPLETA*/
.lista-completa{
	padding:18px 30px 0 30px;
}
.lista-completa p{
	padding: 18px 0px 18px 30px;
	background-position:0px 24px !important;
	background-size: 18px; 
}
.lista-completa p:last-child{
	
}



/*BOX ALERTAS*/
.box-alerta.amarelo{
	padding: 18px;
}
.box-alerta.amarelo p{
	
}



/*BOTAO CTA*/
.botao-cta-verde{
	width: 100% !important;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:30px;
}
.botao-cta-verde span{ 
	
}
.botao-cta-verde span:hover{
	
}
a.botao-cta-verde:hover{
	letter-spacing: 1px;
}
.link-cta{
	margin-top: 10px;
}



/*BOX CTA VERDE*/
.cta-escassez{
	
}
.cta-escassez .feature-box-creator{
	padding: 25px 20px 5px 20px; 
}
.cta-escassez h3{
	padding:20px 0 10px 0;
}
.cta-escassez .countdown-timer {
	padding-bottom:40px;
} 
.imagem-seguranca{
	 
}
.imagem-zap{
	max-width:400px;
}



/*CTA HERO*/
.cta-hero .cta-escassez-hero{
	
}
.cta-hero .cta-escassez-hero .feature-box-creator{
padding: 25px 20px 5px 20px;
}
.cta-hero .cta-escassez-hero h3{
	padding:20px 0 10px 0;
}
.cta-hero .cta-escassez-hero .countdown-timer {
	padding-bottom:40px;
} 
.cta-hero .cta-escassez-hero p{
	
} 
.cta-hero .imagem-zap{
	max-width:400px;
}



/*TITULOS DESTAQUES*/
.titulo-grande h2{
	font-size: 70px;
	letter-spacing: 0px;
}
.titulo-grande-dois h2{
	font-size: 60px;
	letter-spacing: -1px;
}
.titulo-grande-tres h2{
	font-size: 60px;
	letter-spacing: -1px;
}
.titulo-grande-quatro h2{
	font-size: 70px;
	letter-spacing: -1px;
}



/*BLOCO SE VOCE QUER*/
.se-voce-quer{
	padding: 30px 30px 0 30px;
}
.se-voce-quer p{
	padding: 0px 0px 18px 40px;
	background-position:left 3px !important;
	background-size: 25px;
}
.se-voce-quer p:last-child{
}



/*BLOCO FUNCIONALIDADES, USEI IMAGENS COM MARGEM NEGATIVA*/
.funcionalidades {
	
} 
.funcionalidades img.alignright{
	width: 250px !important;
	margin-left: 20px;
} 
.funcionalidades img.alignright.wp-image-2070{
	
}
.funcionalidades img.alignright.wp-image-2071{
	margin-top: -50px;
}
.funcionalidades img.alignright.wp-image-2072{
	margin-top: -50px;
}
.funcionalidades img.alignright.wp-image-2073{
	margin-top: -50px;
	}
.funcionalidades img.alignright.wp-image-2074{
	margin-top: -50px;
}



/*BLOCO PORQUE FUNCIONA, AQUELE QUE EU MOSTRO A IMAGEM COM OS PASSOS 1 2 3 4*/
.porque-funciona img{
}



/*SLIDES DE DEPOIMENTOS*/
.sagrado{
	max-width: 100%;
}
.sagrado .item{
	padding: 20px;
}
.sagrado img{
	max-width: 250px;
}
.sagrado .slick-arrow:before{
}



/*MINHA FOTO REDONDA BEM PEQUENA NO TEXTO DA PÁGINA DE VENDAS*/
.imgnotexto{
	width: 35px !important;
	top: 10px !important;
}



/*USEI NOS VIDEOS DE VENDAS*/
.videoautoplay .video-plugin-new{

}



/*MEU CODIGO PARA 4 COLUNAS, USEI NAS PAGINAS DE REMARKETING*/
.maior .quatro-colunas{
}
.maior .quatro-colunas *{
}
.maior .linhas {
}
.maior .colunas {
	float: left; 
	width: 50%;
	padding: 5px;
}  
.maior .coluna{ 
	padding: 8px;
}
.maior .coluna h4{  
	padding: 12px 0px 5px 0px;
	font-size: 15px;
}
.maior .coluna h2{ 
	padding: 0 5px 0px 5px;
	font-size: 21px; 
	margin-bottom: 12px;
	letter-spacing: 0px;
}
.maior .coluna img{
}

.maior .coluna p{
	
}
.maior .coluna a{
	
}
.maior .coluna a:hover{
	
}
	


/*BOX DE TRES COLUNAS MEUS PRESENTES, USEI NAS PÁGINAS DE REMARKETING PARA DESTACAR CONTEUDO NOVO*/
.presente{
	
}
.presente h4{
	padding: 12px 0px 5px 0px;
	font-size: 15px;
}
.presente h2{ 
	padding: 0 5px 0px 5px;
	font-size: 21px; 
	margin-bottom: 12px;
	letter-spacing: 0px;
}
.presente img{
	
}
.presente p{
	
}
.presente a{
	
}
.presente a:hover{
	
}

/*hack nas colunas para dar um espaco abaixo quando muda de linha, observar se nao vai dar problemas em outras*/	
.hero-wide #le_body_row_3_col_3_el_1 .element{
	padding-bottom: 25px !important;		
}



/*BOX COM A IMAGEM EM MARGEM LATERAL ESQUERDA NEGATIVA, USEI NAS PAGINAS DE REMARKETING*/ 
.bonus-remarketing .cols{
	
	padding-top: 40px;
	padding-bottom: 40px;
}
.bonus-remarketing .element{
	padding-left: 40px;
	padding-right: 40px; 
}
.bonus-remarketing .imagem{
	max-width: 500px;
	margin-left: -80px;
	margin-top: -80px;
	margin-right: 0;
	margin-bottom: 30px;
}
.bonus-remarketing .imagem img{
	
}



/*HAKCS DE ESPAÇO, DESAPARECE EM TELA 1366 E METADE EM TABLET*/
.hack-espaco10{
	height: 5px;
}
.hack-espaco20{
	height: 10px;
}
.hack-espaco30{
	height: 20px;
}



	
/*PAGINA DE CAPTURA PAGINA INICIAL-17-08-2019*/
.hero-negativa-um{
	
}
.hero-negativa-um h5>span {
}
.parte-negativa{
}
.imagem-video-clique img{
	
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}



































































@media only screen and (max-width: 479px){
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*REGULA O TAMANHO EM CELULAR*/
.op-live-editor-page .fixed-width{
		width: 94% !important;
}
.op-live-editor-page .column{
		width: 100% !important;
}
	
	
	
/*ORGANIZACAO GERAL*/
p, h1, h2, h3, h4, h5, div, body, li, ul, ol{
	  
}

p, div, body{
	font-size: 17px;
}
 
h1{
	font-size: 27px;
	letter-spacing: 0px; 
}

h2{
	font-size: 28px;
	letter-spacing: 0px;
}

h2>strong{
}

h3{
	font-size: 25px;
	letter-spacing: 0px;
}

h3>strong{
}

h4{
	font-size: 18px;
}

strong{
}

a{

}

a:hover{
}



/*TOPO GERAL, USEI NAS PÁGINAS DE VENDAS E OUTROS, DA UM ESPAÇO LEGAL EM CIMA, E DIMINUI EM MONITORRES 1366*/
.hero{
	padding-top: 30px !important; 
}
.hero .sub-headline p{
}



/*ADICIONA ESPAÇOS ONDE FOREM INSERIDOS, É RESPONSIVO*/
.espaco-baixo-um{
	padding-bottom: 5px !important;  	
}

.espaco-baixo-dois{
	padding-bottom: 20px !important;	
}

.espaco-baixo-tres{
	padding-bottom: 30px !important;	
}

.espaco-baixo-quatro{
	padding-bottom: 40px !important;	
}

.espaco-cima-um{
	padding-top: 5px !important;	
}

.espaco-cima-dois{
	padding-top: 20px !important;	 
}

.espaco-cima-tres{
	padding-top: 30px !important; 
}

.espaco-cima-quatro{
	padding-top: 40px !important;	
}



/*PADRÃO DOS TEXTOS DA PÁGINA DE VENDAS*/
.texto .op-text-block{
	
}
.texto img.alignleft{
	margin-top: 0px;
	width: 100%;
	margin-right: 0;
	float: none;
}
.texto img.alignright{
	margin-top: 0px;
	width: 100%;
	margin-left: 0;
	float: none;
}
.texto img.aligncenter{
	margin-bottom: 25px;	
}
.texto-dois .op-text-block{
	
}
.texto-dois img.alignright{
	margin-top: 0px;
	width: 100%;
	margin-left: 0;
	float: none;
}	



/*ESTILOS LISTAS*/
.lista-simples{
	padding-left: 18px;
}
.lista{
	margin-left:10px;
	margin-right:10px;
	padding: 10px 5px 0px 0px;
}
.lista li{
	padding:0px 0px 10px 25px;
	background-size: 16px; 
	margin-left:10px;
}

.lista01 li{ 
	padding:0px 0px 5px 25px;
	background-position:left 5px !important;
	background-repeat: no-repeat;
	background-size: 16px; 
	margin-left:20px;
	margin-right:10px; 
}

.lista02 li{ 
	list-style: none;
	padding:0px 0px 5px 25px;
	background-position:left 7px !important;
	background-size: 12px;
	margin-left:20px;
	margin-right:10px;
}

.lista04 li{  
	padding:15px 0px 15px 20px;
	background-position:left 18px !important;
	background-size: 16px;
	margin: 0 0 0 5px;
	letter-spacing: 0px; 
}
.lista04 li:last-child{  
	
}
.lista04 li>span{  
	letter-spacing: 0px; 
}

.lista05 li{  
	list-style: none;
	padding:0px 0px 20px 30px;
	background-position:left 1px !important;
	background-size: 18px;
	margin: 20px 25px 20px 25px;
	letter-spacing: 0px; 
	line-height: 1.3;
}
.lista05 li:last-child{  
}


/*LINHA DIVISORIA EM FORMATO TRIANGULO*/
.linha-destaque-container .element{ 
	border-width: 50px 100px 0 100px;
}

.linha-destaque-container.azul .element{ 

}

.linha-destaque-container.claro .element{ 
	
}

.linha-destaque-container.azulclaro .element{ 
	
}



/*LISTA DE BENEFICIOS 01*/
.beneficios01 .one-third>.element-container {
	padding: 10px;
	
}
.beneficios01 img{
}
.beneficios01 h4{ 
}



/*LISTA DE BENEFICIOS 02*/
.beneficios02 .one-third>.element-container {
	padding: 10px;
}
.beneficios02 .one-third {
}
.beneficios02 img{
}
.beneficios02 h4{
}



/*LISTA DE BENEFICIOS 03*/
.beneficios03 .op-text-block {
}
.beneficios03 .op-text-block p{
	padding:10px 10px 10px 30px;
	background-position:8px 14px;
	background-size: 16px;
	margin-bottom: 20px;
}



/*LISTA DE BENEFICIOS 04*/
.beneficios04 .one-third>.element-container {
	padding: 10px;
}
.beneficios04 .one-third {
}
.beneficios04 img{
}
.beneficios04 h4{
}



/*LISTA DE BENEFICIOS 05*/
.beneficios05 .one-third>.element-container {
	padding: 10px;
}
.beneficios05 .one-third {
}
.beneficios05 img{
}
.beneficios05 h4{
}



/*LISTA DE BENEFICIOS 06*/
.beneficios06 .one-third>.element-container {
	padding: 10px;
}
.beneficios06 .one-third {
}
.beneficios06 img{
}
.beneficios06 h4{
}



/*MODULOS*/
.modulos{
	margin: 30px auto;
	padding-bottom: 0px;
}
.modulos h4{
	padding-top: 10px;
}
.modulos h2{
	padding: 5px 10px 10px 10px;
	margin-bottom: 20px; 
	font-size: 25px;
	letter-spacing: 0px;
}
.modulos p{
	padding-left:20px;
	padding-right: 20px;
}



/*BONUS*/
.bonus01{
	margin: 30px auto;
	padding-bottom: 0px;
}
.bonus01 h4{
		padding-top: 10px;
}
.bonus01 h2{
	padding: 5px 10px 10px 10px;
	margin-bottom: 20px; 
	font-size: 25px;
	letter-spacing: 0px;
}
.bonus01 p{
	padding-left:20px;
	padding-right: 20px;
}



/*LISTA COMPLETA*/
.lista-completa{
	padding:0px 10px 0 10px;
}
.lista-completa p{
	padding: 10px 0px 10px 20px;
	background-position:0px 16px !important;
	background-size: 16px; 
}
.lista-completa p:last-child{
	
}



/*BOX ALERTAS*/
.box-alerta.amarelo{
	padding: 12px;
}
.box-alerta.amarelo p{
	
}



/*BOTAO CTA*/
.botao-cta-verde{
	width: 100% !important;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:20px;
}
.botao-cta-verde span{ 
	font-size: 14px;
	margin-top: 1px;
	
}
.botao-cta-verde span:hover{
	
}
a.botao-cta-verde:hover{
	letter-spacing: 0px;
}
.link-cta{
	margin-top: 5px;
}



/*BOX CTA VERDE*/
.cta-escassez{
	margin: 30px auto;
}
.cta-escassez .feature-box-creator{
	padding: 10px 10px 0 10px; 
}
.cta-escassez h3{
	padding:20px 0 5px 0;
}
.cta-escassez .countdown-timer {
	padding-bottom:20px;
} 
.imagem-seguranca{
	margin: 30px auto 0 auto;  
}
.imagem-zap{
	max-width:200px;
	padding: 5px;
	margin: 10px auto;
}



/*CTA HERO*/
.cta-hero .cta-escassez-hero{
		margin: 30px auto;
}
.cta-hero .cta-escassez-hero .feature-box-creator{
	padding: 10px 10px 0 10px; 
}
.cta-hero .cta-escassez-hero h3{
		padding:10px 0 5px 0;
}
.cta-hero .cta-escassez-hero .countdown-timer {
	padding-bottom:20px;
} 
.cta-hero .cta-escassez-hero p{
} 
.cta-hero .imagem-zap{
	max-width:200px;
	padding: 5px;
	margin: 10px auto;
}



/*TITULOS DESTAQUES*/
.titulo-grande h2{
	font-size: 40px;
	letter-spacing: 0px;
}
.titulo-grande-dois h2{
	font-size: 40px;
	letter-spacing: -1px;
}
.titulo-grande-tres h2{
	font-size: 40px;
	letter-spacing: -1px;
}
.titulo-grande-quatro h2{
	font-size: 40px;
	letter-spacing: -1px;
}








/*BLOCO PORQUE FUNCIONA, AQUELE QUE EU MOSTRO A IMAGEM COM OS PASSOS 1 2 3 4*/




/*SLIDES DE DEPOIMENTOS*/
.sagrado{
	max-width: 90%;
	margin: 0 auto;
}
.sagrado .item{
	padding: 0px;
	padding-bottom: 30px;
}
.sagrado img{
	max-width: 250px;
}
.sagrado .slick-arrow:before{
}



/*MINHA FOTO REDONDA BEM PEQUENA NO TEXTO DA PÁGINA DE VENDAS*/
.imgnotexto{
	
}



/*USEI NOS VIDEOS DE VENDAS*/
.videoautoplay .video-plugin-new{
	
}



/*MEU CODIGO PARA 4 COLUNAS, USEI NAS PAGINAS DE REMARKETING*/
.maior .quatro-colunas{
}
.maior .quatro-colunas *{
}
.maior .linhas {
}
.maior .colunas {
	float: none; 
	width: 100%;
	padding: 0 0 25px 0;
}  
.maior .coluna{ 
	padding: 5px;
}
.maior .coluna h4{  
	padding: 10px 0px 5px 0px;
}
.maior .coluna h2{ 
	padding: 0 5px 0px 5px;
	font-size: 21px; 
	margin-bottom: 10px;
	letter-spacing: 0px;
}
.maior .coluna img{
}

.maior .coluna p{
	padding: 0px 5px 0 5px;
}
.maior .coluna a{
}
.maior .coluna a:hover{
}



/*BOX DE TRES COLUNAS MEUS PRESENTES, USEI NAS PÁGINAS DE REMARKETING PARA DESTACAR CONTEUDO NOVO*/
.presente{
	padding-bottom: 5px;
}
.presente h4{
		padding: 10px 0px 5px 0px;
}
.presente h2{ 
	padding: 0 5px 0px 5px;
	font-size: 21px; 
	margin-bottom: 10px;
	letter-spacing: 0px;
}
.presente img{
	margin-bottom: 10px;
}
.presente p{
	padding: 0px 5px 0 5px;
}
.presente a{
}
.presente a:hover{
}

	
	
/*BOX COM A IMAGEM EM MARGEM LATERAL ESQUERDA NEGATIVA, USEI NAS PAGINAS DE REMARKETING*/ 
.bonus-remarketing .cols{
	padding-top: 0px;
	padding-bottom: 20px;
}
.bonus-remarketing .element{
	padding-left: 10px;
	padding-right: 10px; 
}
.bonus-remarketing .imagem{
	max-width: initial !important;
	width: initial !important;
	float: none !important;
	margin-left: -15px !important;
	margin-top: 0px !important;
	margin-right: -15px !important;
	margin-bottom: 10px;
}
.bonus-remarketing .imagem img{
	margin: 0 auto;
	width: 90%;
	text-align: center;
	padding: 20px 0 !important;
}



/*HAKCS DE ESPAÇO, DESAPARECE EM TELA 1366 E METADE EM TABLET*/
.hack-espaco10{
	height: 3px;
}
.hack-espaco20{
	height: 5px;
}
.hack-espaco30{
	height: 10px;
}


	
/*HACK PAGINAS DE REMARKETING E PROMO COM BARRA FIXA NO TOPO COM TEMPO CONTANDO*/
.aviso-promo .aviso{
	float: none;
	width: 100%;
}
.aviso-promo .aviso h4{
	float: none;
	text-align: center !important;

}
.aviso-promo .evergrenn{
	float: none;
	width: 100%;
}
.aviso-promo .evergrenn .countdown_row{
	float: none !important;
}

.aviso-envio-ebook{
	padding: 10px;	
	margin: 0px auto 12px auto;
}
	
/*PAGINA DE CAPTURA PAGINA INICIAL-17-08-2019*/
.hero-negativa-um{
	padding-bottom: 80px;
}
.hero-negativa-um h5>span {
}
.parte-negativa{
	margin-top: -140px;
}
.imagem-video-clique img{
	
}
	
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/	
}	
